._3LYP1SIxyoky-yW9Ug_1fq.b084mAvY8rgVMr3H04g9g {
     background: #fff;
}
._3eEbSktrstBdLk0dVpnKVI._3Gp1bACHx__POxmy6Gd3kG {
    background-color: #aece8f;
}
._3eEbSktrstBdLk0dVpnKVI {
    color: #303444;
}
._38sNQt6oEVaeO9D-gI_Lhl._15VplG8ZhNCYs8IUwaufpO {
    background-color: #aece8f;
}

._38sNQt6oEVaeO9D-gI_Lhl._15VplG8ZhNCYs8IUwaufpO ._1AWi083XV4SMCpq1RXuDO- {
    color: #fff;
}
.online ._3xUpb5DWXPFNcHHIcv-9pe.GamepadMode, .GamepadMode .online ._3xUpb5DWXPFNcHHIcv-9pe {
    background: #aece8f;
}
.BasicUI ._3gwMkKp82bb5aZj4EeQnpi ._3CRLA2FFclTRCznNBgtiIH {
    text-shadow: unset;
    color: #393b44;
}
.BasicUI ._3gwMkKp82bb5aZj4EeQnpi ._3DR9f2B3JQKviESgdrHp1u {
    color: #303444;
}
._1BtXgm_u14cFdsGMjTpY59 {
    color: rgba(57, 59, 68, .7);
}
.BasicUI ._3gwMkKp82bb5aZj4EeQnpi ._3DR9f2B3JQKviESgdrHp1u {
    text-shadow: unset;
}
._25QboeMYEk12Wt3i35P_EG path {
    fill: rgba(57, 59, 68, .7);
}
._1BtXgm_u14cFdsGMjTpY59._3z5U1dXNngUwHB0l7Opw-z {
    color: #aece8f;
}
._38sNQt6oEVaeO9D-gI_Lhl._15VplG8ZhNCYs8IUwaufpO path {
    fill: #fff;
}
.ingame ._3xUpb5DWXPFNcHHIcv-9pe.GamepadMode, .GamepadMode .ingame ._3xUpb5DWXPFNcHHIcv-9pe {
    background: #aece8f;
}
._3IBLc81yyL08OJ7rfKtF00._31ZleDJpmmVr6YwR5VLHiu ._2JobstxtZVYF3078DblN2M::before, ._2JobstxtZVYF3078DblN2M._1jNhbFODJy7sNdcnEeZkz4::before {
    background: #aece8f;
}
._38sNQt6oEVaeO9D-gI_Lhl._15VplG8ZhNCYs8IUwaufpO {
    color: #fff;
}
._1E_SL1bTibeQ3PQRBZoS_-::before {
    background-color: transparent;
    backdrop-filter: unset;
}
.gpfocuswithin ._3eEbSktrstBdLk0dVpnKVI {
    color: #fff;
}
.gpfocuswithin ._38sNQt6oEVaeO9D-gI_Lhl._15VplG8ZhNCYs8IUwaufpO ._1AWi083XV4SMCpq1RXuDO- {
    color: #aece8f;
}
.gpfocuswithin ._38sNQt6oEVaeO9D-gI_Lhl._15VplG8ZhNCYs8IUwaufpO {
    background-color: #fff;
    color: #aece8f;
}
.gpfocuswithin ._3eEbSktrstBdLk0dVpnKVI._3Gp1bACHx__POxmy6Gd3kG {
    background-color: #fff;
    color: #303444;
}
 